<main class="content container center-align">
        
  <h1>Electron Timer</h1>

  <div class="progress-wrapper" *ngIf="maxVal">
      
    <div *ngIf="isFinished">
        <audio src="assets/chime.mp3" autoplay></audio>
    </div>
    
    <div class="row">
      <round-progress
              [max]="max"
              [current]="current"
              [radius]="100"
              [stroke]="25">
      </round-progress>
    </div>

    <div class="text" *ngIf="!isFinished">
      <h3>{{ max - current | number: '1.1-1' }} </h3>
    </div>
    <div class="text" *ngIf="isFinished">
      <h3> Done! </h3>
    </div>

  </div>

  <div class="controls-wrapper">

      <label>Seconds</label>
      <input class="input" placeholder="number of seconds" type="text"
            [(ngModel)]="max"
            [readonly]="current > 0">
          
      <button class="waves-effect waves-light btn" *ngIf="current == 0" (click)="start()">Start</button>
      <button class="waves-effect waves-light btn" *ngIf="current < max && current > 0 " (click)="start()">Restart</button>
      <button class="waves-effect waves-light btn" *ngIf="!isFinished" (click)="finish()">Finish</button>
      <button class="waves-effect waves-light btn" *ngIf="isFinished" (click)="reset()">Reset</button>
  </div>


</main>